$grey-light: #eef2f3;
$grey: #dbdbdb;
$silver: #C0C0C0;
$charcoal: #36454F;
$sky-blue: #A7BFE8;
$blue: #6190E8;
$blue-deep: #2980B9;
$red: #ED213A;
$ocean: #2a5298;
$dark-ocean: #1e3c72;
$light-ocean: #457fca;
$iceberg: #AAD7EC;
$metallic: #D7DDE8;