$cloud: #eef2f3;
$mountain-mist: #dbdbdb;
$stars: #c0c0c0;
$charcoal: #36454f;
$fog: #d7dde8;
$iceberg: #aad7ec;
$sky-blue: #a7bfe8;
$lake-blue: #2980b9;
$fire-red: #ed213a;
$ocean: #2a5298;
$dark-ocean: #1e3c72;
$light-ocean: #457fca;
$mist-gradient: linear-gradient(to bottom right, $cloud, $fog);
$ocean-gradient: linear-gradient(to right, $ocean, $dark-ocean);
$sky-gradient: linear-gradient(to left top, $sky-blue, $iceberg);
$light-blue-gradient: linear-gradient(to left top, $light-ocean, $iceberg);
