/*==== BREAKPOINTS ====*/
$breakpoint-xs: 450px;
$breakpoint-sm: 744px;
$breakpoint-md: 1024px;
$breakpoint-ml: 1280px;
$breakpoint-lg: 1440px;
$breakpoint-lx: 1700px;
$breakpoint-xl: 1920px;

/*==== SPACING ====*/
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-26: 26px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-72: 72px;
$spacing-80: 80px;
$spacing-88: 88px;
$spacing-112: 112px;
$spacing-120: 120px;