// PX TO REM CONVERSION //

$type-10: 0.625rem;
$type-12: 0.75rem;
$type-14: 0.875rem;
$type-16: 1rem;
$type-18: 1.125rem;
$type-20: 1.25rem;
$type-22: 1.375rem;
$type-24: 1.5rem;
$type-26: 1.625rem;
$type-28: 1.75rem;
$type-30: 1.875rem;
$type-32: 2rem;
$type-36: 2.188rem;
$type-40: 2.5rem;
$type-42: 2.625rem;
$type-44: 2.75rem;
$type-48: 3rem;
$type-50: 3.125rem;
$type-54: 3.375rem;
$type-58: 3.625rem;
$type-60: 3.75rem;
$type-72: 4.5rem;
$type-85: 5.313rem;
$type-100: 6.25rem;


//*====== ADDING TO DEFAULT ======*//

.type-12 {
    font-size: $type-12;
}

.type-14 {
    font-size: $type-14;
}

.type-16 {
    font-size: $type-16;
}

.type-18 {
    font-size: $type-18;
}

.type-20 {
    font-size: $type-20;
}

.type-22 {
    font-size: $type-22;
}

.type-24 {
    font-size: $type-24;
}

.type-26 {
    font-size: $type-26;
}

.type-28 {
    font-size: $type-28;
}

.type-30 {
    font-size: $type-30;
}

.type-32 {
    font-size: $type-32;
}

.type-36 {
    font-size: $type-36;
}

.type-42 {
    font-size: $type-42;
}

.type-40 {
    font-size: $type-40;
}

.type-44 {
    font-size: $type-44;
}

.type-48 {
    font-size: $type-48;
}

.type-54 {
    font-size: $type-54;
}

.type-58 {
    font-size: $type-58;
}