
@import '../variables/grid.scss';

@mixin button-primary {
    padding: $spacing-8 $spacing-24;
    background: $dark-ocean;
    color: white;
    font-family: $raleway;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s ease-in;
    position: relative;

    &:focus {
        outline: none;
        box-shadow: rgba(30, 60, 114, 0.5) 0px 4px 12px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &.is-disabled {
        background: $grey-light;
        color: $charcoal;

        &:hover {
            cursor: not-allowed;
        }
    }
}

@mixin button-secondary {
    @include button-primary;
    background: rgba(97, 144, 232, 0.1);
    color: $dark-ocean;
    border: 2px solid $dark-ocean;
}

.buttons__primary {
    @include button-primary;
}

.buttons__secondary {
    @include button-secondary;
}