
@import '../variables/grid.scss';

@mixin button-primary {
    padding: $spacing-8 $spacing-24;
    background: $blue-deep;
    color: white;
    font-family: $raleway;
    font-weight: 600;
    border: none;
    text-transform: uppercase;

    &.is-disabled {
        background: $grey-light;
        color: $charcoal;

        &:hover {
            cursor: not-allowed;
        }
    }
}

@mixin button-display {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
    font-family: $raleway;
    text-decoration: none;
    padding: $spacing-8 $spacing-40;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 16px;
    background: linear-gradient(to right, $light-ocean, $ocean)
}

.buttons__primary {
    @include button-primary;
}

.buttons__display {
    @include button-display;
}