@import '../variables/grid.scss';
@import '../variables/fonts.scss';
@import '../variables/colors.scss';

// === INPUT === //
@mixin input {
    width: calc(100% - $spacing-8);
    margin-top: $spacing-16;
    border-color: transparent;
    border: 1px solid $silver;
    border-radius: 4px;
    padding: 6px 8px;
    font-family: $raleway;

    &:focus {
        outline: none !important;
        border: 2px solid $blue-deep;
    }
}

@mixin input-label {
    width: 100%;
    font-family: $raleway;
    font-weight: 600;
}

.forms__input {
    @include input;
}

.forms__input-label {
    @include input-label;
}

// === CHECKBOX/RADIO === //
@mixin fieldset {
    border: none;
}

@mixin options-label {
    font-family: $raleway;
}

@mixin checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 100;
}

@mixin checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: $grey;
    border-radius: 2px;

    &.is-checked {
        background: $dark-ocean;
        border-radius: 4px;

        &:after {
            display: block;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: none;
    }
}

@mixin radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 100;
}

@mixin radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: $grey;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
        display: none;
    }

    &.is-selected {
        background-color: $dark-ocean;

        &:after {
            display: block;
        }

    }
}

.forms__fieldset {
    @include fieldset;
}

.forms__options-label {
    @include options-label;
}

.forms__checkbox-input {
    @include checkbox-input;
}

.forms__checkbox {
    @include checkbox;
}

.forms__radio-input {
    @include radio-input;
}

.forms__radio {
    @include radio;
}

// ==== ERRORS ==== //

@mixin error {
    color: $red;
    border: 1px solid $red;
    border-radius: 4px;
    background: rgba(237, 33, 58, 0.05);
    font-family: $raleway;
    padding: $spacing-8;
    font-size: 12px;
    font-weight: 600;
    margin-top: $spacing-8;
}

.forms__error {
    @include error;
}