@import '../variables/grid.scss';

$nav-height: 40px;
$footer-height: 46px;
$header-height-min: 250px;

@mixin wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-24;
    padding-right: $spacing-24;

    @media screen and (min-width: $breakpoint-md) {
        padding-right: $spacing-64;;
        padding-left: $spacing-64;;
    }
}

@mixin min-height {
    min-height: calc(100vh - $nav-height - $footer-height - $header-height-min);
}

.wrapper {
    @include wrapper;
}

body {
    margin: 0;
}