@import '../variables/grid.scss';

@mixin wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-24;
    padding-right: $spacing-24;

    @media screen and (min-width: $breakpoint-md) {
        padding-right: $spacing-64;;
        padding-left: $spacing-64;;
    }
}

.wrapper {
    @include wrapper;
}

body {
    margin: 0;
}