@mixin image-figure {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image__figure {
    @include image-figure;
}