@import '../variables/fonts.scss';
@import '../variables/type.scss';
@import '../variables/grid.scss';

@mixin h1 {
    font-family: $playfair;
    font-size: $type-32;
    font-weight: 600;
    margin: 0;
    font-style: italic;
    line-height: $type-36;

    @media screen and (min-width: $breakpoint-md) {
        font-size: $type-48;
        line-height: $type-54;
    }
}

@mixin h2 {
    font-family: $raleway;
    font-size: $type-16;
    line-height: $type-24;
    font-weight: 200;

    @media screen and (min-width: $breakpoint-md) {
        font-size: $type-18;
        line-height: $type-28;
    }
}

@mixin h3 {
    font-family: $playfair;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

@mixin h4 {
    @include h3;
    font-size: $type-14;

    @media screen and (min-width: $breakpoint-md) {
        font-size: $type-16;
    }
}

@mixin p {
    font-family: $raleway;
    font-size: $type-12;
    margin: 0;

    @media screen and (min-width: $breakpoint-md) {
        font-size: $type-14;
    }
}

h1,
.type__h1 {
    @include h1;
}

h2,
.type__h2 {
    @include h2;
}

h3,
.type__h3 {
    @include h3;
}

h4,
.type__h4 {
    @include h4;
}

p,
.type__p {
    @include p;
}
